@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
.r-color {
    color: #AC624F;
}
.o-color {
    color: #EBBD71;
}
.center {
    display: flex;
    align-items: center;
}
.content {
    margin: 0 100px;
}
.intro {
}
.header {
    display: flex;
    margin-top: 35px;
}
.menu {
    margin: 10px;
    padding: 10px 15px;
    background: #AC624F;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.menu_text {
    margin-left: 10px;
}
select {
    border: none;
    cursor: pointer;
    color: #AC624F;
}
.logo-main {
    margin: 0 auto;
}
.office {
    cursor: pointer;
    color: #AC624F;
}
.office_text {
    margin-left: 10px;
}
.search {
    cursor: pointer;
    padding: 12px;
    border-radius: 10px;
}
.cart {
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    background: #EBBD71;
    border-radius: 15px;
}
.cart_text {
    color: white;
}
.intro_banner {
    margin-top: 65px;
    background: url(img/banner.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 80px;
}
.intro_banner_content {
    padding: 80px 115px;
    margin: 0 auto;
}
.banner_head {
    font-size: 40px;
    color: white;
}
.banner_text {
    margin-top: 15px;
    font-style: 20px;
    color: white;
}
.banner_link {
    border: 1px white solid;
    border-radius: 15px;
    padding: 15px 25px;
    margin-top: 35px;
    max-width: 170px;
    cursor: pointer;
}

.catalog {
    margin-top: 70px;
}
/*.category_card {
    background: url(img/product.png);
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 200px;
}*/

.category_card {
    background: url(img/product.png);
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
    vertical-align: top;
    width: calc(25% - 20px);
    box-sizing: border-box;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 200px; /* Высота вашего изображения */
    border-radius: 30px;
}

.category_card:first-child {
    margin-left: 0;
}
.category_card:last-child {
    margin-right: 0;
}
.row {
    margin-top: 40px;
}
.card_text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.card_text h4 {
    margin: 0;
}
.location {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.location_info {
    margin-right: 80px;
}
.location_info_head {
    margin-top: 70px;
    font-size: 48px;
}
.location_info_carts {
    display: flex;
}
.location_info_cart {
    margin-top: 15px;
    padding: 15px 30px;
    background-color: white;
    border-radius: 25px;
}
.location_info_cart:first-child {
    margin-right: 10px;
}
.work_mode {
    display: flex;
    margin-top: 35px;
}
.work_mode_text {
    font-size: 32px;
}
.work_mode_time {
    margin-top: 5px;
    margin-left: 30px;
}
.tap_address {
    cursor: pointer;
    border: 2px #EBBD71 solid;
    border-radius: 15px;
    padding: 20px 200px;
    margin-top: 30px;
}
.mr-60 {
    margin-right: 60px;
}

@media (max-width: 1280px) {
    .intro_banner_content {
        padding: 20px 115px;
    }
    .banner_head {
        font-size: 25px;
    }
    .banner_text {
        margin-top: 8px;
    }
    .banner_link {
        margin-top: 15px;
    }
}